:root{
    --background-color: hsl(6, 93%, 71%);
}

body{
    background-color: #3DB2FF;
    text-align: center;
    margin: 0px;
}
/* key to css syntax =  selector {property : value; } 
    selector = what tag is being modified
    property = what property of that tag is being modified
    value = how is this property being modified

    css hierarchy in terms of how to define things to alter:
        tag - defined barebones
        classes - defined with a '.'
        id - defined with a '#'

    all html elements will have padding, border, and margin layers to add to the
    size of the element itself
*/

hr {
    border-color: black;
    border-style: dotted none none;
    border-width: 5px;
    height: 0px;  
    width: 10%; 
}

.invis{
    border-color: #3DB2FF;
}

h1{
    font-size: 4.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'STIX Two Math', sans-serif;
}

h2{
    color: #FA8072;
    font-family: 'Roboto', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif
}

h3{
    font-size: 2rem;
    color: #FA8072;
    font-family: 'Ubuntu', sans-serif;
}

h4{
    color: var(--background-color);
}

h5{
    font-size: 2rem;
    display: inline;
    margin-right: 20px;
}

.top_section {
    background-color: #B8DFD8;
    color:  #FA8072;
    padding-top: 100px;
}

.bottom_cloud{
    position: absolute;
    margin: 0px 0px 0px 100px;
}

.top_cloud{
    position: relative;
    margin: 0px 1000px 0px 0px;
}

.croppedicons{
    max-width: 250px;
    max-height: 250px;
    width: auto;
    height: auto;
}

.skillicons{
    max-width: 250px;
    max-height: 250px;
    width: auto;
    height: auto;
    float: left;
    margin-right: 30px;
}

.skilliconsright{
    max-width: 250px;
    max-height: 250px;
    width: auto;
    height: auto;
    float: right;
    margin-left: 30px;
}

.meicons{
    max-width: 250px;
    max-height: 250px;
    width: auto;
    height: auto;
}

td{
    font-family: 'Roboto', sans-serif;
}

li{
    font-family: 'Roboto', sans-serif;
}

.skillexample{
    width: 50%;
    margin: 50px auto 50px auto;
    text-align: left;
    line-height: 2;
   
}

.skillheader{
    font-size: 1.5rem;
}

.skills{
    padding-bottom: 100px;
}

.bottom-section{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #B8DFD8;
}

a{
    text-decoration: none;
}

a:hover{
    color: #3DB2FF;
}

.BUTTON_IOD {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFAE00;
    font-family: Arial;
    font-size: 40px;
    font-weight: 100;
    padding: 40px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .BUTTON_IOD:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }